<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='/css/style.css'>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	{{ with .Site.Params.favicon_apple_touch }}<link rel="apple-touch-icon" sizes="180x180" href="{{ . }}">
	{{ end -}}
	{{ with .Site.Params.favicon_32x32 }}<link rel="icon" type="image/png" sizes="32x32" href="{{ . }}">
	{{ end -}}
	{{ with .Site.Params.favicon_16x16 }}<link rel="icon" type="image/png" sizes="16x16" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	<!-- <meta name="keywords" content=""> -->
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:image" content="{{ .Site.BaseURL }}{{if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.og_image }}{{ end }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
</head>
<body>
{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}
<main>
{{ block "main" . }}
{{ .Content }}
{{ end }}
</main>
{{ block "footer" . }}
{{ partial "footer.html" . }}
{{ end }}
</body>
</html>