{{ define "main" }}
	<main>
		{{ if .Params.image }}
			<div>
				<img src="{{ .Params.image }}" alt="{{ .Title }}">
			</div>
		{{ end }}
		<article>
			<h1>{{ .Title }}</h1>
			{{ if .Date }}
				<p>
					<i>Published:</i>
					<time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>
				</p>
			{{ end }}
			{{ if .Params.series }}
				<p>
					<i>Part of a series on:</i>
					{{ range .Params.series }}
						<a href="{{ "/series/" | relLangURL }}{{ . | urlize }}{{ "/" | relLangURL }}">{{ . }}</a>
					{{ end }}
				</p>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}