<div class="pagination">
    <div class="pagination-item">
        {{ if .Paginator.HasNext }}
            <p>
                <a href="{{ .Paginator.Last.URL }}" class="internal">&lt;&lt; First</a>
                <a href="{{ .Paginator.Next.URL }}" class="internal">&lt; Older</a>
            </p>
        {{ end }}
    </div>
    <div class="pagination-item">
        {{ if .Paginator.HasPrev }}
            <p>
                <a href="{{ .Paginator.Prev.URL }}" class="internal">Newer &gt;</a>
                <a href="{{ .Paginator.First.URL }}" class="internal">Latest &gt;&gt;</a>
            </p>
        {{ end }}
    </div>
</div>
